In [25]:
fruits = ["apple", "orange", "banana", "durian", "pineapple"]
i = 0
# Find a fruit from the list

for fruit in fruits:
    i += 1
    
    # Can only use + in print statement to add string values
    print("The fruit name is " + fruit + " at index:", i)

The fruit name is apple at index: 1
The fruit name is orange at index: 2
The fruit name is banana at index: 3
The fruit name is durian at index: 4
The fruit name is pineapple at index: 5

In [26]:
index = 1

for item in fruits:
    if 'apple' in item:
        print('the item apple is in the list at index' , index)
    index += 1

the item apple is in the list at index 1
the item apple is in the list at index 5

In [33]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [31]:
# Exercise 1
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
# Exercise 2
numbers = range(1,11)
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [46]:
count = 1
while (count <= 10):
    count += 1
    if count % 2 == 0:
        continue
    print(count)

3
5
7
9
11

In [4]:
# Exercise 3
import math

for i in range(1,6):
    for j in range(1,6):
        print(i , "x" , j , "=" , i * j)
    print("-------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
-------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
-------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
-------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
-------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-------