In [3]:
# Positional Arguments
def student_information(class_name, student_name):
    # Display information about a student and his class.
    print(student_name + " is enrolled in " + class_name + " class.")

student_information("Heat Transfer", "Satminder")

Satminder is enrolled in Heat Transfer class.

In [6]:
# Keyword Arguments
def student_information(class_name, student_name):
    # Display information about a student and his class.
    print(student_name + " is enrolled in " + class_name + " class.")

student_information(student_name = "Satminder", class_name = "Heat Transfer")

Satminder is enrolled in Heat Transfer class.

In [5]:
# Default Arguments
def enroll_student(student_name, course= "Introduction to Python"):
    # Enroll a student with his class
    print("Student Name: " + student_name)
    print("Enrolled Course: " + course)

enroll_student("Hila")

Student Name: Hila
Enrolled Course: Introduction to Python

In [7]:
# Variable-length arguments

def enroll_in_courses(student_name, *courses):
    # Enroll a student in multiple courses.
    print("Student: " + student_name)
    print("Enrolled in:")
    
    for course in courses:
        print("- " + course)
        
enroll_in_courses("Sara", "English", "Heat Transfer", "Mass Transfer")

Student: Sara
Enrolled in:
- English
- Heat Transfer
- Mass Transfer

In [14]:
# Variable Length Arguments

def enroll_student(student_name, **details):
     # Enroll a student with additional details.
    print("Enrolling " + student_name + " with the following details:")
    for detail, value in details.items():
        print("- " + detail.replace('_', ' ').title() + ": " + str(value))
enroll_student("Smith", course='Algebra II', semester='One', payment_method='Credit Card')

Enrolling Smith with the following details:
- Course: Algebra II
- Semester: One
- Payment Method: Credit Card

In [19]:
tuple_list = [("Haha","A") , ("Hehe", "B"), ("Hihi", "C")]

for (First,Second) in tuple_list:
    print(First + " And " + Second)

Haha And A
Hehe And B
Hihi And C

In [ ]:
#Assignment 4

def checkout_books(librarian_name, *book_titles, checkout)